.app {
	background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 430px;
	width: 360px;
	background-color: wheat;
	border-radius: 20px;
	opacity: 0.1;
	transition: box-shadow 2s;
	transition: opacity 2s;
	animation: roll 3s 1;
	transform: rotate(0deg);
}

@keyframes roll {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.container:hover {
	opacity: 1;
	box-shadow: 0 0 60px 0 white;
}
.image {
	height: 320px;
	width: 320px;
	margin-left: 20px;
	margin: 20px;
}

.dice {
	overflow: hidden;
}

.button {
	width: 300px;
	padding: 8px;
	margin-left: 30px;
	border-radius: 15px;
	outline: none;
	border-width: 0;
	font-size: 15px;
	cursor: pointer;
	background-color: #ff724c;
	color: wheat;
}
.button:active {
	font-size: 10px;
}
.button:focus {
	outline: 0;
}
